.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  color: #555;
  background-color: var(--background-color);
}